/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ecf0f1;
}

.dashboard {
    display: flex;
    min-height: 100vh;
}

.tabs {
    width: 20vw;
    background-color: #2c3e50;
    padding-top: 20px;
    padding-inline: 20px;
    color: white;
}

.tabs h2 {
    text-align: center;
    margin-bottom: 15px;
}

.tabs ul {
    list-style-type: none;
}

.tabs .tab {
    padding: 15px;
    cursor: pointer;
    border-bottom: 1px solid #34495e;
    text-align: center;
    font-size: 18px;
    color: white;
    transition: background 0.3s ease;
}

.tabs .tab:hover {
    background-color: #34495e;
}

.content {
    flex-grow: 1;
    padding: 20px;
    background-color: #ecf0f1;
}

.content-section {
    display: none;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.content-section.active {
    display: block;
}

/* Form Styling */
form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
    padding: 20px;
}

label {
    font-size: 14px;
    margin-top: 10px;
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #3498db;
    color: white;
    padding: 12px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

input:focus, textarea:focus {
    border-color: #3498db;
    outline: none;
}
